/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2014, 1:30:05 PM
    Author     : KH
*/

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
}

#container {
    background: blue;
    margin: auto;
    width: 1280px;
    height: 500px;
}

#header {
    background: green;
    font-size: 20px;
    height: 50px;
    margin: 0;
}

#content {
    background: orange;
    //height: 500px;
}

#content .panel {
    vertical-align: top;
    //height: 100%;
    width: auto;
    padding: 2px 4px;
}

#footer {
    background: pink;
    margin-bottom: 0;
}

img.ajax-large {
    width: 50px; //fits the container
    height: auto;
}