/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2014, 1:30:05 PM
    Author     : KH
*/

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, Sans-serif;
}

#container {
    background: blue;
    margin: auto;
    width: 1280px;
    height: fit-content;
}

#header {
    background: #3F3F3F;
    font-size: 20px;
    color: #B7B7B7;
    height: 30px;
    top: 0;
    //z-index: 99;
    padding: 10px;
}

#content {
    background: orange;
    //height: 500px;
}

#content .panel {
    vertical-align: top;
    //height: 100%;
    width: auto;
    padding: 2px 4px;
}

#footer {
    background: pink;
    bottom: 0;
    position: fixed;
    z-index: 99;
}

img.ajax-large {
    width: 50px; //fits the container
    height: auto;
}

#header .menu {
    
}
#header .menu-item {
    
}
#header a.menu-item  {
    text-decoration: none;
}