<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory >
        <mapping package="SECA2.File" />
        <mapping class="Entity.File.FileEntity" />
        <mapping class="Entity.File.FileSequence" />
        <mapping class="Entity.User.UserEntity" />
        <mapping class="Entity.User.UserType" />
    </session-factory>
</hibernate-configuration>