/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2014, 11:55:40 PM
    Author     : KH
*/
#search-form .panel {
    float: left;
    margin-right: 5px;
    min-width: 305px;
    //height: 500px;
    overflow: scroll;
}

#search-criteria {
    //width: 500px;
    //margin-right: 5px;
    background: blue;
}

#search-criteria-table {
    //width: 100%;
}

td.criteria-columns{
    padding: 2px 5px;
    margin:0;   
}       

#search-results {
    //width: 500px;
}

#ajaxStatusPanel {
    min-width:375px;
    overflow: auto;
}

