/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2014, 11:55:40 PM
    Author     : KH
*/
.search-panel {
    vertical-align: top;
    padding: 2px;
}

#search-criteria {
    //width: 500px;
    //margin-right: 5px;
    background: blue;
}

td input.search-input {
    width: 100px;
}

span.search-input input{
    width: 100px;
}

td.criteria-columns{
    padding: 2px 5px;
    margin:0;   
}       

#search-results {
    //width: 500px;
}
#search-form #search-results-table table {
    //width: 305px; doesn't work!
}

#ajaxStatusPanel {
    //min-width:375px;
    //overflow: auto;
}

#search-ajax {
    
}
