
/* use tables instead of floats!*/
table.search-form {
    border: none;
    background-color: #2DCC70;
    height: 500px; 
    width: 350px;
    padding: 0px;
    overflow: hidden;
}

.search-form tr{
    vertical-align: top;
}

.search-criteria-table {
    padding: 50px;
    width: 100%;
}
.search-criteria-table tr.spacer {
    height: 10px;
}

.ui-panelgrid td {
    border: 0;
    padding: 0;
}

.search-criteria {
    font-family: Helvetica, Arial;
    height: 48px;
    overflow: hidden;
    
}

.search-criteria td{
    
    vertical-align: middle;
    text-align: center;
}

.search-criteria td.search-field-label {
    background-color: #16A086;
    color: #E7FCF3;
    font-weight: bold;
    padding: 0;
    height: 48px;
    
    
}
.search-criteria td.search-field-input {
    padding: 0;
    width: 150px;
    background-color: #FFFFFF;
}

.search-criteria td div{
    height:100%;
    overflow: hidden;
}

.search-criteria td.search-field-label div{
    width: 48px;
    text-indent: -9999px;
    background-image: url('search-icon.png');
    background-repeat: no-repeat;
}

.search-criteria td.search-field-input div{
    
}

.search-criteria td.search-field-input input{
    border-style: none;
    width: 100%;
    height: 48px;
    margin: 0;
    font-size: 28px;
}
.search-criteria td.search-field-input select{
    border-style: none;
    height: 40px;
    width:120%;
    margin: 0;
    font-size: 28px;
}

table.search-results {
    background-color: #FFFFFF;
    height: 300px;
    width: 100%;
}

.search-results th{
    background-color: #5C6D7D;
    color: #E7FCF3;
    height: 20px;
}